<html>
  <head>
    <title>Vitor's Corner</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <div class="main-wrapper">
      <header>
        <h1 class="small-title title">
          <a href="index.html" id="blog-title">Blog title</a>
        </h1>
      </header>
      <main class="main-wrapper">
        <article class="article-content">
          <header>
            <h1 id="article-title" class="big-title title">
              Post title
            </h1>
            <small id="date">2023-02-04</small>
          </header>
          <section id="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id rhoncus libero, vitae rhoncus turpis. In rutrum
              vestibulum efficitur. Quisque auctor sem eros, ut venenatis velit semper ac. Etiam eu arcu est. Ut aliquam velit eu
              dolor pretium bibendum. Aenean id mollis leo, quis eleifend ligula. Vivamus bibendum lacus id rutrum varius.
            </p>

            <p>
              Donec pulvinar, urna et ultricies maximus, erat purus lobortis tortor, quis pretium leo lacus vitae nunc. Nulla enim
              sem, convallis a feugiat eget, dignissim eget nibh. Pellentesque hendrerit sem nunc, quis dictum libero porta at. Cras
              eleifend erat id ante tempus varius. Pellentesque bibendum vel risus cursus maximus. Suspendisse gravida arcu et turpis
              pulvinar dictum. Donec pharetra lectus bibendum fermentum facilisis. Pellentesque purus purus, pellentesque egestas
              sodales eu, elementum sed libero. Aliquam vel accumsan urna. Donec consectetur dui id vestibulum porta. Nam et augue in
              sapien laoreet egestas ut sed justo. Curabitur molestie mattis turpis. Phasellus iaculis dapibus neque id lacinia. Nam
              elementum imperdiet diam. Aliquam gravida, nunc vitae vehicula tristique, nunc ligula eleifend ante, sed pellentesque
              eros justo vel nisl.
            </p>
          </section>
        </article>
      </main>

      <div class="bio">
        <div class="bio-avatar"></div>
        <p id="bio-content" class="bio-content">
          Written by <b>Vitor A.S. Corrêa</b>, who lives and works in Ottawa, Canada.
          <br>
          Check the Linkedin, GitHub and itch.io
        </p>
      </div>
      <footer id="footer" class="footer">
        © 2023 - Built by me :)
      </footer>
    </div>
  </body>

</html>