<html>
  <head>
    <title>Vitor's Corner</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <div class="main-wrapper">
      <header>
        <h1 class="big-title title">
          <a href="index.html">Vitor's Corner</a>
        </h1>
      </header>
      <main>
        <div class="bio">
          <div class="bio-avatar"></div>
          <p id="bio-content" class="bio-content">
            Written by <b>Vitor A.S. Corrêa</b>, who lives and works in Ottawa, Canada.
            <br>
            Check the Linkedin, GitHub and itch.io
          </p>
        </div>
        <ol id="article-list" class="article-list">
          <li>
            <article class="article-summary">
              <header>
                <h2 class="small-title title">
                  <a href="article.html">Blog article!</a>
                </h2>
                <small>2023-02-04</small>
              </header>
              <section>
                <p class="article-excerpt">
                  Blog excerpt here, lorem ipsum yada yada...
                </p>
              </section>
            </article>
          </li>
        </ol>
      </main>
      <footer id="footer" class="footer">
        © 2023 - Built by me :)
      </footer>
    </div>
  </body>
</html>